cpp-extract
__pycache__
/SLAM_datasets
/experiment_data/videos/*.MP4
/experiment_data/videos/*.mp4
/experiment_data/videos/*.mkv

/experiment_data/maps/
/experiment_data/dbs/
/experiment_data/bags/
/experiment_data/bags_filtered/
/experiment_data/logs/
experiment_data.back


/experiment_data_debug/videos/*.MP4
/experiment_data_debug/maps/
/experiment_data_debug/dbs/
/experiment_data_debug/bags/
/experiment_data_debug/bags_filtered/
/experiment_data_debug/logs/

